div{
  text-align: center;
}

div h1{
  font-size: 70px;
}

div button{
  padding: 30px;
  font-size: 25px;
  border-radius: 25px;
  border: none;
  margin-left: 10px;
}

div button:hover{
  background-color: green;
  color: white;
}
